.label {float: left; width: 120px; } 
#submit { margin-left: 125px; margin-top: 10px;}
div{padding: 5px; }
.chkb { margin-left: 125px; margin-top: 10px;} 
.radiobtn { margin-left: 125px; margin-top: 10px;}
